<%= form_with(model: guardian, local: true) do |form| %>
  <% if guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% guardian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :guardian_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
